/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre, a, abbr, acronym, address,
cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Muli', sans-serif;
}

.header-background {
  background-color: gold;
}

.center-content {
  max-width: 1000px;
  margin: 0 auto;
}

.events {
	display: flex;
	flex-flow: row wrap;
}

.event-item {
	display: flex;
	width: 250px;
	height: 100px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	margin-right: 25px;
	margin-bottom: 25px;
	flex-direction: row;
	align-items: stretch;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.event-details {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.event-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.event-title {
	font-size: 22px;

}

.event-title a, .twitter {
	text-decoration: none;
}